# Example environment variables
SYNC_DATABASE_URL=sqlite:///db.sqlite3
SESSION_SECRET_KEY=a-secret-key
PYTHONDONTWRITEBYTECODE=1
ASYNC_DATABASE_URL=sqlite+aiosqlite:///./app.db
NEXT_PUBLIC_API_URL=http://localhost:8000
